[user]
	name = Lev Maximov
	email = lev.maximov@gmail.com
[alias]
	ci = commit
	co = checkout
	st = status
	br = branch
	sb = show-branch

	mt = mergetool
	ls = ls-files -r --name-only
	ll = ls-files -r
	others = ls-files --exclude-standard -o
	track = branch -u
#	fixup = !sh -c 'git commit -m \"fixup! $(git log -1 --format='\\''%s'\\'' $@)\"' -
#	squash = !sh -c 'git commit -m \"squash! $(git log -1 --format='\\''%s'\\'' $@)\"' -
	preview = diff --cached
	cio = commit -c ORIG_HEAD
[core]
	autocrlf = false
	excludesfile = ~/.gitignore
[merge]
	tool = vim
[mergetool "vim"]
	cmd = vim -d $LOCAL $MERGED $REMOTE
	trustExitCode = true
[mergetool "vb"]
	cmd = vim -d $LOCAL $BASE $REMOTE
	trustExitCode = true
[color]
	branch = auto
	diff = auto
[push]
	default = simple
[rebase]
	autosquash = true

