[user]
	name = Lev Maximov
	email = lev.maximov@gmail.com
[alias]
	ci = commit
	co = checkout
	mt = mergetool
	st = status
	br = branch
	sb = show-branch #--current
	ls = ls-files -r --name-only
	ll = ls-files -r
[core]
	#autocrlf = false
	excludesfile = ~/.gitignore
[mergetool "vim"]
	trustExitCode = true
	cmd = vim -d $LOCAL $MERGED $REMOTE
[mergetool "vb"]
	cmd = vim -d $LOCAL $BASE $REMOTE
	trustExitCode = true
[merge]
	tool = vim
[color]
	branch = auto
	diff = auto
