[user]
	name = Lev Maximov
	email = lev.maximov@gmail.com
[alias]
	ci = commit
	co = checkout
	mt = mergetool
	st = status
	br = branch
	sb = show-branch
	ls = ls-files -r --name-only
	ll = ls-files -r
[core]
	autocrlf = false
	excludesfile = C:/Documents and Settings/Lev/.gitignore
[merge]
	tool = vim
[mergetool "vim"]
	cmd = D:/Utilities/Editors/Vim/gvim.exe -d $LOCAL $MERGED $REMOTE
	trustExitCode = true
[mergetool "vb"]
	cmd = D:/Utilities/Editors/Vim/gvim.exe -d $LOCAL $BASE $REMOTE
	trustExitCode = true
[http]
	sslcainfo = D:\\Program Files\\Git\\bin\\curl-ca-bundle.crt
